obj
.vs
LootCreator/bin/Release/net6.0-windows/LootCreator.deps.json
LootCreator/bin/Release/net6.0-windows/LootCreator.dll
LootCreator/bin/Release/net6.0-windows/LootCreator.exe
LootCreator/bin/Release/net6.0-windows/LootCreator.pdb
LootCreator/bin/Release/net6.0-windows/LootCreator.runtimeconfig.json
LootCreator/bin/Release/net6.0-windows/LootCreator/LootCreator.deps.json
LootCreator/bin/Release/net6.0-windows/LootCreator/LootCreator.dll
LootCreator/bin/Release/net6.0-windows/LootCreator/LootCreator.exe
LootCreator/bin/Release/net6.0-windows/LootCreator/LootCreator.pdb
LootCreator/bin/Release/net6.0-windows/LootCreator/LootCreator.runtimeconfig.json
LootCreator/bin/Release/net6.0-windows/LootCreator/nameid.list
LootCreator/bin/Release/net6.0-windows/nameid.list
